.masongram-container {
  margin: 2px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  @masongram-image-padding: 2px;

  * {
    box-sizing: border-box;
  }

  .masongram-image-sizer,
  .masongram-image-container {
    width: 100%;
    &.masongram-image-size-low_resolution {
      .masongram-media-width (320px, 2);
      .masongram-media-width (640px, 3);
      .masongram-media-width (960px, 4);
      .masongram-media-width (1280px, 5);
      .masongram-media-width (1600px, 6);
      .masongram-media-width (1920px, 7);
      .masongram-media-width (2240px, 8);
      .masongram-media-width (2560px, 9);
      .masongram-media-width (2880px, 10);
    }
    &.masongram-image-size-standard_resolution {
      .masongram-media-width (640px, 2);
      .masongram-media-width (1280px, 3);
      .masongram-media-width (1920px, 4);
      .masongram-media-width (2560px, 5);
      .masongram-media-width (3200px, 7);
    }
  }

  .masongram-image-container {
    display: table;
    float: left;
    padding: @masongram-image-padding;
    clear: left;
    position: relative;
    overflow: hidden;
    color: #fff;
    background: #fff;

    .masongram-image {
      display: block;
      width: 100%;
      height: auto;
    }

    @masongram-caption-padding: 10px;

    .masongram-image-caption-container {
      width: ~"calc(100% - (@{masongram-image-padding}*2))";
      height: ~"calc(100% - (@{masongram-image-padding}*2))";
      position: absolute;
      padding: @masongram-caption-padding;
      top: @masongram-image-padding;
      left: @masongram-image-padding;
      display: table-cell;
      background: rgba(0,0,0,0.5);
      transition: all .3s;
      opacity: 0;

      .masongram-image-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: larger;
      }

    }


    &:hover {
      .masongram-image-caption-container {
        opacity: .9;
      }
    }

  }

}

.fancybox-title {
  font-weight: normal;

  .child {
    font-weight: normal;
  }

  > * {
    padding: 2px;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
  }
}

.masongram-media-width(@min-width, @count) {
  @media (min-width: (@min-width+1)) {
    width: unit(100*1/@count, %);
  }
}
